@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar Custom Styles */
.custom-navbar {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid #e5e7eb;
}

.subtitle-tracking {
  letter-spacing: 0.14em;
}

.nav-link-custom {
  position: relative;
}

.manjari-font {
  font-family: "Manjari", sans-serif;
}


/* payment icon */

.payment-success-icon {
  animation: successPop 0.5s ease-out forwards;
}

.success-check {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: drawCheck 0.6s ease-out 0.35s forwards;
}

@keyframes successPop {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  60% {
    transform: scale(1.15);
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes drawCheck {
  to {
    stroke-dashoffset: 0;
  }
}